
<a id="gotop" href="#">
  <span>⬆︎TOP</span>
</a>

<script src="<%- config.root %>js/jquery.imagesloaded.min.js"></script>
<script src="<%- config.root %>js/gallery.js"></script>
<script src="<%- config.root %>js/bootstrap.min.js"></script>
<script src="<%- config.root %>js/main.js"></script>
<script src="<%- config.root %>js/search.js"></script>

<% if (theme.fancybox){ %>
<link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="<%- config.root %>fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
(function($){
  $('.fancybox').fancybox();
})(jQuery);
</script>
<% } %>

<script>
tocbot.init({
  // Where to render the table of contents.
  tocSelector: '.js-toc',
  // Where to grab the headings to build the table of contents.
  contentSelector: '.mypage',
  // Which headings to grab inside of the contentSelector element.
  headingSelector: 'h1, h2, h3',
});
</script>

<script>
  $('span.github-emoji').each(function (i, emoji) {
    var $emoji = $(emoji)
    var codepoint = $emoji.html()
    $('<img height="20" width="20">')
      .on('error', function () {
        // image loading failed
        $emoji.html(codepoint)
      })
      .prop('alt', $emoji.attr('title'))
      .prop('src', $emoji.data('src'))
      .appendTo($emoji.empty())
  })
</script>

<% if (config.search) { %>
   <script type="text/javascript">
     var search_path = "<%= config.search.path %>";
	 if (search_path.length == 0) {
	 	search_path = "search.xml";
	 }
	 var path = "<%= config.root %>" + search_path;
     searchFunc(path, 'local-search-input', 'local-search-result');
   </script>
<% } %>
